<!DOCTYPE html>
  <html>
     <head>
       <title>{TITLE}</title>
       <link rel="stylesheet" href="./public/stylesheets/style.css" />
       <script type='text/javascript' src="./public/javascripts/jquery-3.1.0.min.js" />
     </head>
     <body>
       <header id="banner">
         <h1>Awesome Chat</h1>
       </header>

       {CONTENT}
  <h1><%=message%></h1>
  <h2><%=error.status%></h2>
  <p><%=error.stack%>
       <footer>
         Hope you enjoy your stay here
       </footer>
     </body>
  </html>
